@media(max-width:1200px){
    .side-bar{
        position: fixed;
        left: 0;
        top:0;
        bottom: 0;
        width: 85px;
        background-color:white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
        z-index: 100;
    }
    .home-icon-div{
        display:flex;
        flex-direction: column;
        margin-top: 80px;
        align-items: center;
        justify-content: center;
        font-size: 11px;
        cursor: pointer;
        width: 100%;
        height: 60px;
        margin:70px 0px 0px 0px;
    }
    .home-icon-pic img{
        width: 30px;
    }
    .explore-image{
        width: 30px;
    }
    .subscriptions-div-pic img{
        width: 30px;
    }
    .originals-div-pic img{
        width: 30px;
    }
    .youtube-music-div-pic img{
        width: 30px;
    }
    .library-div-pic img{
        width: 30px;
    }
    .subscriptions-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 11px;
        cursor: pointer;
        width: 100%;
        height: 60px;
        margin: 0;
    }
    .originals-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 11px;
        cursor: pointer;
        width: 100%;
        height: 60px;
        margin: 0;
    }
    .youtube-music-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 11px;
        cursor: pointer;
        width: 100%;
        height: 60px;
        margin: 0;
    }
    .library-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 11px;
        cursor: pointer;
        width: 100%;
        height: 60px;
        margin: 0;
    }
    .explore-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 11px;
        cursor: pointer;
        width: 100%;
        height: 60px;
        margin: 0;
    }
    .subscriptions-div:hover,.explore-div:hover,.originals-div:hover,.originals-div:hover,.youtube-music-div:hover,.library-div:hover,.home-icon-div:hover{
        background-color: rgb(231, 231, 231);
        transition: 0.15s;
    }
    
}
@media(min-width:1201px){
    .side-bar{
        position: fixed;
        left: 0;
        top:0;
        bottom: 0;
        width: 185px;
        background-color:white;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content:space-between;
        z-index: 100;
    }
    .home-icon-div{
        display:flex;
        flex-direction:row;
        margin-top: 80px;
        align-items: center;
        /* justify-content:space-evenly; */
        font-size: 11px;
        cursor: pointer;
        width: 100%;
        height: 60px;
        margin:70px 0px 0px 0px;
    }
    .home-icon-pic img{
        width: 30px;
        margin: 0px 10px 0px 15px;
    }
    .explore-image{
        width: 30px;
        margin: 0px 10px 0px 15px;
    }
    .subscriptions-div-pic img{
        width: 30px;
        margin: 0px 10px 0px 15px;
    }
    .originals-div-pic img{
        width: 30px;
        margin: 0px 10px 0px 15px;
    }
    .youtube-music-div-pic img{
        width: 30px;
        margin: 0px 10px 0px 15px;
    }
    .library-div-pic img{
        width: 30px;
        margin: 0px 10px 0px 15px;
    }
    .subscriptions-div{
        display: flex;
        flex-direction:row;
        /* justify-content: center; */
        align-items: center;
        font-size: 11px;
        cursor: pointer;
        width: 100%;
        height: 60px;
        margin: 0;
    }
    .originals-div{
        display: flex;
        /* flex-direction: column; */
        /* justify-content: center; */
        align-items: center;
        font-size: 11px;
        cursor: pointer;
        width: 100%;
        height: 60px;
        margin: 0;
    }
    .youtube-music-div{
        display: flex;
        /* flex-direction: column; */
        /* justify-content: center; */
        align-items: center;
        font-size: 11px;
        cursor: pointer;
        width: 100%;
        height: 60px;
        margin: 0;
    }
    .library-div{
        display: flex;
        /* flex-direction: column; */
        /* justify-content: center; */
        align-items: center;
        font-size: 11px;
        cursor: pointer;
        width: 100%;
        height: 60px;
        margin: 0;
    }
    .explore-div{
        display: flex;
        /* flex-direction: column; */
        /* justify-content: center; */
        align-items: center;
        font-size: 11px;
        cursor: pointer;
        width: 100%;
        height: 60px;
        margin: 0;
    }
    .subscriptions-div:hover,.explore-div:hover,.originals-div:hover,.originals-div:hover,.youtube-music-div:hover,.library-div:hover,.home-icon-div:hover{
        background-color: rgb(231, 231, 231);
        transition: 0.15s;
    }
    
}
